body {
    overflow-y: hidden;
    overflow-x: hidden;
}

#left-bar {
    background-color: cornflowerblue;
    height: 100vh;
    padding-left: 25px;
}

#right-bar {
    height: 100vh;
}

h1 {
    text-align: center;
    display: block !important;
    color: white;
    line-height: 30px;
    margin-bottom: 0 !important;
    background-color: rgba(100, 149, 237, .5) !important;
}

input {
    width: 500px;
    height: 100px;
    border: 2px solid cornflowerblue;
    border-radius: 4px;
    display: block;
}

button {
    margin-top: 30px !important;
    float: right;
    background-color: cornflowerblue;
    border: 1px solid cornflowerblue;
    border-radius: 4px !important;
    color: white;
    line-height: 30px !important;
}

ul {
    padding-left: 0;
}

li {
    list-style-type: none;
    font-size: 1.2em;
    display: flex;
    justify-content: space-between;
    color: white;
    border-bottom: 1px solid white;
    border-radius: 4px;
    margin-bottom: 10px;
}

li > a {
    float: right;
    color: red !important;
    cursor: pointer;
}